@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/material-icons.css" rel="stylesheet" />

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <div class="alert alert-danger login-fail">
                Benutzername / E-Mail oder Passwort falsch
            </div>
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" data-bind="textInput: emailOrUser" class="form-control" placeholder="Benutzername / E-Mail-Adresse" required autofocus>
            <input type="password" id="inputPassword" data-bind="textInput: password" class="form-control" placeholder="Passwort" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Login speichern
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" data-bind="click: login" type="submit">Anmelden</button>
        </form>
        <a href="#" class="forgot-password">
            Passwort vergessen?
        </a>
        <hr />
        <p class="registertext">Noch nicht registriert?</p>
        <form action="@Url.Action("Registration", "Registration")">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrieren</button>
        </form>
    </div>
</div>

@section scripts
{
        <script src="~/Scripts/LandingPage.js"></script>
}
