@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/custom.css" rel="stylesheet" />


        <h1>Herzlich Wilkommen @ViewBag.FullName </h1>

