@{
    ViewBag.Title = "Kalendar erstellen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Create</h2>

<p>
    name
</p>

<p>
    <input type="text" data-bind="textInput: name"/>
</p>

<button class="btn btn-lg btn-primary btn-block btn-signin" data-bind="click: create">Create</button>

@section scripts {
    <script src="~/Scripts/CreateCalendar.js"></script>
}