@{
    ViewBag.Title = "Kalendar erstellen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<form>
    <div class="form-horizontal">
        <div class="alert alert-success" role="alert" style="display: none" data-bind="visible: creationSuccessful()">
            Der Kalender wurde erfolgreich erstellt.
        </div>
        <div class="alert alert-danger" role="alert" style="display: none" data-bind="visible: creationFailed()">
            Das Erstellen des Kalenders ist fehlgeschlagen.
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2" for="calender-name-input">Kalender-Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control text-box single-line" id="calender-name-input" data-bind="textInput: name" placeholder="Kalender"/>
                <span class="field-validation-valid text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" data-bind="click: create">Create</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/Scripts/CreateCalendar.js"></script>
}