
@{
    ViewBag.Title = "Kalendar";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/custom.css" rel="stylesheet" />
<div class="col-md-12">
    <div class="x_panel">
        <ul>
            @foreach (var calendar in ViewBag.CalendarList)
            {
                <li>
                    <a href="@Url.Action("Show", "Calendar", new {calendarId = calendar.CalendarId})">@calendar.Name</a>
                </li>
            }
        </ul>

        <p>
            <a href="@Url.Action("Create", "Calendar")">Neuen Kalender erstellen</a>
        </p>
        </div>
    </div>
