
@{
    ViewBag.Title = "Kalender anzeigen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>
<link href="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/custom.css" rel="stylesheet" />

<h2>@ViewBag.OwnerName</h2>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.CalendarName</h2>
                    <input type="button" class="btn btn-primary" id="subscribe" value=@ViewBag.Flag style="display:@ViewBag.UserCheck">
                    <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
<div id="ViewEvent" class="modal fade view-event-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ereignis-Details</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal calender" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start - Ende</label>
                        <div class="col-xs-4">
                            @if (ViewBag.DisplayAll)
                            {
                                <input type="text" class="form-control" id="view_start" name="view_start" data-bind="textInput: startDate">
                            }
                            @if (!(ViewBag.DisplayAll))
                            {
                                <input type="text" class="form-control" id="view_start" name="view_start" data-bind="textInput: startDate" readonly>
                            }                            
                        </div>
                        <div class="col-xs-4">
                            @if (ViewBag.DisplayAll)
                            {
                                <input type="text" class="form-control" id="view_end" name="view_end" data-bind="textInput: endDate">
                            }
                            @if (!(ViewBag.DisplayAll))
                            {
                                <input type="text" class="form-control" id="view_end" name="view_end" data-bind="textInput: endDate" readonly>
                            }  
                            
                        </div>
                    </div>
                    @if (ViewBag.DisplayAll)
                    {
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Privat?</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" id="view_is_private" name="view_is_private" data-bind="checked: isPrivate">
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Betreff</label>
                        <div class="col-sm-9">
                            @if (ViewBag.DisplayAll)
                            { 
                                 <input type="text" class="form-control" id="view_title" name="view_title" data-bind="textInput: title">
                            }
                            @if (!(ViewBag.DisplayAll))
                            {
                                <input type="text" class="form-control" id="view_title" name="view_title" data-bind="textInput: title" readonly>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ort</label>
                        <div class="col-sm-9">
                            @if (ViewBag.DisplayAll)
                            {
                                <input type="text" class="form-control" id="view_location" name="view_location" data-bind="textInput: location">
                            }
                            @if (!(ViewBag.DisplayAll))
                            {
                                <input type="text" class="form-control" id="view_location" name="view_location" data-bind="textInput: location" readonly>
                            }                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Beschreibung</label>
                        <div class="col-sm-9">
                            @if (ViewBag.DisplayAll)
                            {
                                <textarea class="form-control" style="height: 55px;" id="view_description" name="view_description" data-bind="textInput: description"></textarea>
                            }
                            @if (!(ViewBag.DisplayAll))
                            {
                                <textarea class="form-control" style="height: 55px;" id="view_description" name="view_description" data-bind="textInput: description" readonly></textarea>
                            }      
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bestätigt?</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-control" id="view_is_confirmed" name="view_is_confirmed" data-bind="checked: isConfirmed">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <form>
                    <input type="hidden" id="view_event_id" name="view_event_id" />
                    @if (ViewBag.DisplayAll)
                    {
                        <button type="button" class="btn btn-danger deletebutton" data-bind="click: deleteEvent">Löschen</button>
                    }
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: editEvent">Speichern</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="AddEvent" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Neues Ereignis anlegen</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal calender" role="form" id="eventForm" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Start - Ende</label>
                        <div class="col-xs-4">
                            <input type="datetime" class="form-control" id="add_start" name="add_start" required>
                        </div>
                        <div class="col-xs-4">
                            <input type="datetime" class="form-control" id="add_end" name="add_end" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Privat?</label>
                        <div class="col-sm-9">
                            <input type="checkbox" class="form-control" id="add_is_private" name="add_is_private">
                        </div>
                    </div>
                    <div class="form-group">
                        
                            
                            <label class="col-sm-3 control-label">Title<span class="red">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="add_title" name="add_title" required placeholder="Title">
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location<span class="red">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="add_location" name="add_location" required placeholder="Ort">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description<span class="red">*</span></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" style="height: 55px;" id="add_description" name="add_description" required placeholder="Beschreibung der Veranstaltung"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default add_close" data-dismiss="modal">Abbrechen</button>
                <button type="submit" class="btn btn-primary add_submit">Anlegen</button>
            </div>
        </div>
    </div>
</div>

<div id="view_event" data-toggle="modal" data-target="#ViewEvent"></div>
<div id="add_event" data-toggle="modal" data-target="#AddEvent"></div>

@section scripts {
    <script src="~/Scripts/fullcalendar/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/validator.js"></script>

    <script type="text/javascript">
        var userId = '@ViewBag.UserId';
        var calendarId = @ViewBag.CalendarId;
    </script>

    <script src="~/Scripts/ShowCalendar.js"></script>
}