
@{
    ViewBag.Title = "Kalender Anzeigen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<p>
@Html.ActionLink("zurück zu meinen Kalendern", "Index")|
</p>
<p>
@Html.ActionLink("Termin erstellen", "CreateEvent", new { CalendarId = (int)ViewBag.CalendarId }) 
</p>

<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>
<link href="~/Content/custom.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.CalendarName</h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/fullcalendar/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.js"></script>
    <script>
        var date = new Date(),
            d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear();
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            events: '/API/Calendar/GetCalendarEvents?userId=@ViewBag.UserId&calendarId=@ViewBag.CalendarId'
        });
    </script>

}

