html, #wrapper, #page-wrapper {
    height: 100%;
}

body {
    height: calc(100% - 50px);
    overflow: hidden;
}

.container-fluid {
    overflow-y: auto;
    height: 100%;
}

.deletebutton {
    float: left;
}

#view_is_private, #add_is_private{
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .dropdown-menu {
        width: 350px !important;  /* change the number to whatever that you need */
    }
}