html, #wrapper, #page-wrapper {
    height: 100%;
}

body {
    height: calc(100% - 50px);
    overflow: hidden;
}

.container-fluid {
    overflow-y: auto;
    height: 100%;
}

.deletebutton {
    float: left;
}

#view_is_private, #add_is_private, #view_is_confirmed{
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    .dropdown-menu {
        width: 350px !important;  /* change the number to whatever that you need */
    }
}

.navbar .fa-fw {
    color: #7ebd0a;
}

.navbar-nav > li > a:hover .fa-fw, .navbar-nav li.active .fa-fw {
    /*color: #6699CC;*/
    color: #c7f17b;
}

.navbar-nav > li {
    border-bottom: solid 1px #555555;
}

.navbar-nav > li:first-of-type {
    border-top: solid 1px #555555;
}

.topLogo{
    position: fixed;
    left: 13px;
    top: 2px;
    height: 45px;

}

#page-wrapper {
    background-image: url(/Content/images/pim_render.png);
    background-repeat: no-repeat;
    background-size: cover;
}