
@{
    ViewBag.Title = "Abonnements";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<link href="~/Content/custom.css" rel="stylesheet" />



        @if (ViewBag.Result.Count == 0)
        {
            <h3> Sie haben noch keine Kalender abonniert.</h3>
        }

        <div>
            @foreach (var uc in ViewBag.Result)
            {

                <h3 class="list-group-item-info">Von @uc.FullName haben sie abonniert: </h3>

                foreach (var c in @uc.Subscriptions)
                {
                    <ul>

                        <h4>
                            <a href="@Url.Action("Show", "Calendar", new {calendarId = c.CalendarId})" class="list-group-item">@c.Name</a>
                        </h4>

                    </ul>
                }
            }

        </div>


